# .gitignore

# Ігноруємо базу даних SQLite
db.sqlite3
db.sqlite3-journal

# Ігноруємо віртуальне середовище (це обов'язково!)
venv/

# Ігноруємо кеш Python
__pycache__/
*.pyc

# Ігноруємо налаштування IDE
.vscode/
.idea/

# Папки для медіа та статики (вони мають бути локальними)
/media/
/static/
/staticfiles/

# Файли середовища
.env